<section class="phx-hero">
  <div class="container"
    phx-window-focus="page-active"
    phx-window-blur="page-inactive"
    phx-window-keyup="typing"
    phx-value-word="<%= @word %>"
    phx-value-char="<%= String.at(@word, 0) %>"
    phx-value-count="<%= @count %>"
  >
  <div>
    <%= @length %>
    <%= if 0 == @length do %>
      <%= @count %>
    <% end %>
  </div>
  <p><%= @word %></p>
  </div>
</section>
  <%= if @results != %{} do %>
  <%= @results.key %>
  <% end %>
